.element__trash{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    background-image: url(../../../images/Trash.svg);
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.5s opacity linear;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.element__trash:hover{
    opacity: 0.6;
    cursor: pointer;
}